body {
  font-family: 'Roboto Mono',monospace;
  /*max-higth: 864px;*/
  background-image: url("https://i.pinimg.com/originals/63/dd/4b/63dd4be93800754be7ac1ed67de3a686.gif");
  background-attachment: scroll-position;
  background-color: #000000;
  /*background-size: ;*/
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
}

 .page-subtitle {
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  color: mediumvioletred;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

.title3{
  font-family: 'Press Start 2P', cursive;
  color: orangered;
  margin-top: 5px;
  font-size: 16px;
}

button {
  font-family: 'Press Start 2P', cursive;
  width: 10rem;
  max-width: 10rem;
  padding: .8rem 1.5rem;
  margin: 2rem auto;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  transition-duration: 0.4s;
}

#btnJogar:hover {
  background-color: orchid;
  color: red;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}


#div2 {
  margin: 50px;
  /*display: none;*/
  font-family: inherit;
  font-size: 20px;
  background-color: purple;
  border: 0px;
  height: 25px;
  width:  95px;
  cursor: pointer;
}

input{
  border: 7px double purple;
  margin-top: 3px;
  margin-bottom: 10px;
}


.page-logo {
  width: 200px;
}